# ---------------------------
# Maven
# ---------------------------
target/
!.mvn/wrapper/maven-wrapper.jar

# ---------------------------
# VS Code
# ---------------------------
.vscode/

# ---------------------------
# IntelliJ IDEA
# ---------------------------
.idea/
*.iml
*.iws

# ---------------------------
# Eclipse
# ---------------------------
.classpath
.project
.settings/

# ---------------------------
# Logs
# ---------------------------
*.log

# ---------------------------
# OS junk
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Backup / temp files
# ---------------------------
*.swp
*.bak
*~
